@import 'colors.scss';

/* ===================================================================
 * # footer 
 *
 * ------------------------------------------------------------------- */
 .s-footer {
    padding-top: 16rem;
    padding-bottom: 10.2rem;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.s-footer a {
    color: #ffffff;
    border-bottom: 1px solid transparent;
    display: inline-block;
    font-size: 2rem;
}

.s-footer a:hover,
.s-footer a:focus {
    border-bottom: 1px solid $blueColor;
}

.footer-main {
    margin-top: 14.4rem;
    margin-bottom: 4.8rem;
}
  
.footer-number {
    font-family: "metropolis-light", sans-serif;
    font-size: 3rem;
    line-height: 1.7;
    display: block;
}
  
.footer-address {
    font-family: "metropolis-regular", sans-serif;
    font-size: 2.8rem;
    line-height: 1.607;
    margin-top: 2.4rem;
}
  
  
  /* ------------------------------------------------------------------- 
   * ## footer social
   * ------------------------------------------------------------------- */
  .footer-social {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 0.3rem;
    font-size: 3rem;
  }
  .footer-social li {
    margin-right: 15px;
    padding-left: 0;
    display: inline-block;
  }
  .footer-social li a {
    color: rgba(255, 255, 255, 0.3);
    border: none !important;
  }
  .footer-social li a:hover,
  .footer-social li a:focus {
    color: #ffffff;
  }
  .footer-social li:last-child {
    margin: 0;
  }


/* ------------------------------------------------------------------- 
 * ## go to top arrow
 * ------------------------------------------------------------------- */
 .cl-go-top {
    z-index: 600;
    position: absolute;
    bottom: 10.8rem;
    right: 105px;
  }
  .cl-go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .cl-go-top a i {
    font-size: 21px;
    line-height: inherit;
  }
  .cl-go-top a:hover,
  .cl-go-top a:focus {
    background-color: #ffffff;
    color: #000000;
  }
  .cl-go-top::before {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -115px;
    left: 50%;
  }
  .cl-go-top::after {
    content: "back to top";
    display: inline-block;
    width: 120px;
    font-size: 1.2rem;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    left: calc(30px + 15px);
    top: -165px;
  }
  
  .menu-is-open .cl-go-top {
    display: none;
  }

  /* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */