@import 'colors.scss';
/*
 * Colors
 */


/*--------------------------------------
 * # Header styles
 *--------------------------------------*/
.s-header {
    z-index: 500;
    width: 100%;
    height: 96px;
    background-color: transparent;
    position: absolute;
    top: 24px;
}

/*--------------------------------------
 * ## Header logo
 *--------------------------------------*/
.header-logo {
    z-index: 501;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 110px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-logo a {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header-logo img {
    width: 200px;
    /*height: 38px;*/
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1600px) {
    .header-logo {
        left: 60px;
    }
  
    .header-menu-toggle {
        right: 60px;
    }
}
@media only screen and (max-width: 800px) {
    .header-logo {
        left: 40px;
    }
  
    .header-menu-toggle {
        right: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .s-header {
        height: 90px;
        top: 12px;
    }
  
    .header-logo {
        left: 30px;
    }
    .header-logo img {
        width: 180px;
        height: 34px;
    }
  
    .header-menu-toggle {
        right: 25px;
        top: 30px;
    }
}
@media only screen and (max-width: 500px) {
    .header-menu-toggle::before {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .s-header {
        top: 6px;
    }
  
    .header-logo {
        left: 25px;
    }
    .header-logo img img {
        width: 141px;
        height: 27px;
    }
  
    .header-menu-toggle {
        top: 24px;
        right: 20px;
    }
}

/* ------------------------------------------------------------------- 
 * ## main navigation 
 * ------------------------------------------------------------------- */
 .header-nav {
    z-index: 900;
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1.846;
    padding: 3.6rem 3rem 3.6rem 3.6rem;
    height: 100%;
    width: 280px;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
}

.header-nav a,
.header-nav a:visited {
    color: rgba(255, 255, 255, 0.5);
}
.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
    color: white;
}
.header-nav h3 {
    font-family: "metropolis-semibold", sans-serif;
    font-size: 11px;
    line-height: 1.363;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 4.8rem;
    margin-top: 0.9rem;
    color: $blueColor;
}
.header-nav p {
    margin-bottom: 2.7rem;
}

.header-nav__content {
    background: #0c0c0c;
    position: relative;
    left: 50px;
    opacity: 0;
    visibility: hidden;
}
.header-nav__list {
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.6rem;
    margin: 3.6rem 0 3rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    counter-reset: ctr;
}
.header-nav__list li {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    line-height: 4.8rem;
    position: relative;
}
.header-nav__list li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.header-nav__list a {
    display: block;
    color: #ffffff;
    position: relative;
    padding-left: 3.5rem;
}
.header-nav__list a::before {
    content: counter(ctr, decimal-leading-zero) ".";
    counter-increment: ctr;
    font-family: "metropolis-regular", sans-serif;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 3px;
    top: 0;
}
.header-nav__list a:hover::before {
    color: $blueColor;
}

.header-nav__social {
    list-style: none;
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
}
.header-nav__social li {
    display: inline-block;
    margin-right: 12px;
    padding-left: 0;
}
.header-nav__social li a {
    color: rgba(255, 255, 255, 0.15);
}
.header-nav__social li a:hover,
.header-nav__social li a:focus {
    color: white;
}
.header-nav__social li:last-child {
    margin: 0;
}

.header-nav__close {
    z-index: 800;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.header-nav__close span::before,
.header-nav__close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
}
.header-nav__close span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.header-nav__close span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle 
 * ------------------------------------------------------------------- */
 .header-menu-toggle {
    position: fixed;
    right: 110px;
    top: 42px;
    width: 48px;
    height: 45px;
    line-height: 45px;
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header-menu-toggle::before {
    display: inline-block;
    content: "Menu";
    height: 45px;
    left: auto;
    text-align: right;
    padding-left: 15px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 100%;
}
.header-menu-toggle.opaque {
    background-color: #000000;
}
.header-menu-toggle.opaque::before {
    display: none;
}
.header-menu-toggle:hover,
.header-menu-toggle:focus,
.header-menu-toggle:active {
    color: $blueColor;
}
  
.header-menu-icon {
    display: block;
    width: 26px;
    height: 2px;
    margin-top: -1px;
    right: auto;
    bottom: auto;
    background-color: white;
    position: absolute;
    left: 11px;
    top: 50%;
}
.header-menu-icon::before,
.header-menu-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
}
.header-menu-icon::before {
    top: -9px;
}
.header-menu-icon::after {
    bottom: -9px;
}

/* menu is open(Showing the sidebar)
 * ----------------------------------------------- */
 .menu-is-open .header-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
  }
  .menu-is-open .header-nav .header-nav__content {
    opacity: 1;
    visibility: visible;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    left: 0;
  }